@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom, #AEFB2A, #333 70%);
    color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: linear-gradient(to bottom, #AEFB2A 0%, #333 35%);
    text-align: center;
    border-radius: 40px;
    padding: 20px;
    width: 300px;
    max-width: 80%;
}

.perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}

.links{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 20px 0;
    text-decoration: none;
    transition: .2s;

    p{
        color: #ffffff;
    }

    background-color: #424242;
  

}

.link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 20px 0;
    text-decoration: none;
    transition: .2s;

    p{
        color: #000000;

    }
    

    background-color: #AEFB2A;
    border-color: rgb(0, 0, 0);
}


.subtitulo{
    margin-bottom: 20px;
    text-align: center;
    align-items: center;

}

a.links:hover{
    transform: scale(1.05);
}

a.link:hover{
    transform: scale(1.05);
}

.buttom:hover{
    transform: scale(1.05);
}
.buttom{
    padding: 20px;
}




